# IDE
.idea/
.vscode/
*.swp
*.swo

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Environment Variables
.env*
!.env.example


# Logs
*.log
logs/

# MacOS
.DS_Store
